@import "tailwindcss";


@layer base {
	body {
		font-family: 'Inter', ui-sans-serif, system-ui, -apple-system,
			"Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
	}
}